.ui{
	display:block;	
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#aeaeae;
	color:#000;
	list-style:none;
}
.ui.gameRunning{
	opacity:0.9;
	filter:alpha(opacity=90);	
}
.ui li{
	margin: 20px auto;
	padding:0;
	display:block;
	width:85%;
}
.ui li span{
	font-size:2em;
	text-align: center;
	padding:20px;
	display:block;
	width:100%;
	background-color:#33aeae;
	text-decoration:none;
	border-radius:60px;
}
.ui .inGameOption{
	display: none;
}
.openMenu{	
	display:none;
	padding:10px;
	text-decoration:none;
	position:absolute;
	border-radius:400px;
	right:10px;
	top:10px;
	background:#efefef;
}